<<<<<<< HEAD
body {
    margin: 0;
    overflow: hidden;
}

canvas {
    background-color: #000;
    display: block;
    margin: 0 auto;
}
=======
body {
    margin: 0;
    overflow: hidden;
}

canvas {
    background-color: #000;
    display: block;
    margin: 0 auto;
}
>>>>>>> 3ef8276aff9c2dcac1123f7a6486405b1ffa35dc
